<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="message" placeholder="請輸入...">
    <p>輸入的內容是:{{message}}</p>
    <br>
    <textarea name="" id="" cols="30" rows="10" v-model="text"></textarea>
    <p>輸入的內容是:{{text}}</p>
  </div>
  <script src="vue.js"></script>
  <script>
    var app = new Vue({
      el:'#app',
      data:{
        message:'',
        text:''
      }
    });
  </script>
</body>
</html>